<center>
  <h1> Show <%= @video_style.name %></h1>
</center>

<!-- <%= render 'form', video_style: @video_style %> -->
<!--
<%= form_for @video_style, method: "patch" do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: @video_style%>
  </div>

  <br>

  <div class="field">
    <%= form.label :video_url %>
    <%= form.text_field :video_url, id: @video_style%>
  </div>

  <br>

  <div class="field">
    <%= form.label :thumbnail_url %>
    <%= form.text_field :thumbnail_url, id: @video_style%>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> -->
